<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
    <channel>

        <item>
            <title>
                <![CDATA[Famine is returning to Yemen -- and a Saudi fuel blockade stands to make it worse]]>
            </title>
            <description>
                <![CDATA[When 10-month-old Hassan Ali arrived at the hospital, doctors were hopeful they could save him. So many children in northern Yemen, after all, don't even get this far, starved not only of food but also the fuel needed just to reach medical help.]]>
            </description>
            <link>
            https://www.cnn.com/2021/03/10/middleeast/yemen-famine-saudi-fuel-intl/index.html
            </link>
            <guid isPermaLink="true">https://www.cnn.com/2021/03/10/middleeast/yemen-famine-saudi-fuel-intl/index.html</guid>
            <pubDate>Thu, 11 Mar 2021 12:42:47 GMT</pubDate>
        </item>

        <item>
            <title>
                Titlu1
            </title>
            <description>
                Descriere1
            </description>
            <link>
            https://www.cnn.com/2021/03/10/middleeast/yemen-famine-saudi-fuel-intl/index.html
            </link>
            <guid isPermaLink="true">https://www.cnn.com/2021/03/10/middleeast/yemen-famine-saudi-fuel-intl/index.html</guid>
            <pubDate>Data publicarii 1</pubDate>
        </item>

        <item>
            <title>
                <![CDATA[Famine is returning to Yemen -- and a Saudi fuel blockade stands to make it worse]]>
            </title>
            <description>
                <![CDATA[When 10-month-old Hassan Ali arrived at the hospital, doctors were hopeful they could save him. So many children in northern Yemen, after all, don't even get this far, starved not only of food but also the fuel needed just to reach medical help.]]>
            </description>
            <link>
            https://www.cnn.com/2021/03/10/middleeast/yemen-famine-saudi-fuel-intl/index.html
            </link>
            <guid isPermaLink="true">https://www.cnn.com/2021/03/10/middleeast/yemen-famine-saudi-fuel-intl/index.html</guid>
            <pubDate>Thu, 11 Mar 2021 12:42:47 GMT</pubDate>
        </item>
    </channel>
</rss>